# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env
.env
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude internal
.claude/
